

.header {
    background-color: rgb(87, 87, 209);
    color: white;
    display: flex;
    justify-content: center;
}

.describer {
    display: flex;
    justify-content: center;
    background-color: rgb(87, 87, 209);
    color: white;
}